:host {
    display: flex;
    justify-content: center;
}

article {
    padding: 1rem;
    border: 8px double black;
    border-radius: 8px;
    width: 300px;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 0.75rem;
            display: block;
            padding: 4px;
        }

        p.category {
            background-color: black;
            color: white;
        }
    }
}