@if ($article | async; as article) {
    <article>
        <hgroup>
            <h2>{{article.title}}</h2>
            <p>{{article.createdAt}}</p>
        </hgroup>
        <section>
            <img [src]="article.image" [alt]="article.title">
            <p (click)="sendNotification(article)">{{article.isLiked ? 'coeur' : 'pas coeur'}}</p>
            <p>{{article.content}}</p>
        </section>
        <footer>
            <p>{{article.likeCount}} j'aime</p>
            <p class="category">{{article.categoryName}}</p>
        </footer>
    </article>
}
